@import '../index.scss';

.anime-detail {
  color: $color1;
  .anime-detail-container {
    .synopsis-container {
      margin: 16px;
      h2 {
        font-size: $font-size-5;
        margin: 0;
      }
      p {
        font-size: $font-size-3;
        font-weight: $font-weight-2;
        margin: 8px 0;
      }
    }
    .trailer-container {
      margin: 16px;
      h2 {
        font-size: $font-size-5;
        margin-bottom: 8px;
      }
      .trailer {
        width: 100%;
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .anime-detail {
    .anime-detail-container {
      margin: 16px 128px;
    }
    .presentation-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .anime-header-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .synopsis-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .trailer-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

@media only screen and (min-width: 850px) {
  .anime-detail {
    .anime-detail-container {
      margin: 16px 200px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .anime-detail {
    .anime-detail-container {
      margin: 16px 256px;
    }
    .presentation-container {
      img {
        width: 450px !important;
      }
    }
    .attribute-cell {
      .attribute-header,
      .attribute {
        font-size: $font-size-4 !important;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .anime-detail {
    .anime-detail-container {
      margin: 16px 350px;
    }
  }
  .attribute-cell {
    justify-content: center;
    .attribute-header {
      font-size: $font-size-5 !important;
      margin-top: 0 !important;
    }
    .attribute {
      font-size: $font-size-5 !important;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .anime-detail {
    .anime-detail-container {
      margin: 16px 400px;
    }
  }
}
